@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
  @apply border-2 border-black-mine rounded-md px-4 bg-purple-mine text-white;
}
.nav-desactive {
  @apply border-2 border-black-mine rounded-md px-4 hover:bg-purple-mine hover:text-white;
}
.description-style {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}
